.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* Usa a altura mínima da tela */
    background-color: #f4f5f8;
    box-sizing: border-box;
  }
  
  .message-container {
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column; /* Coloca os botões um embaixo do outro */
    justify-content: center; /* Centraliza os botões verticalmente */
    align-items: center; /* Centraliza os botões horizontalmente */
    width: 100%; /* Garante que o grupo de botões ocupe toda a largura */
    max-width: 400px; /* Define a largura máxima para os botões */
    gap: 10px; /* Espaçamento entre os botões */
    margin: 0 auto; /* Centraliza horizontalmente o grupo de botões */
  }
  
  ion-button {
    width: 100%; /* Faz os botões ocuparem toda a largura permitida */
    margin-top: 10px;
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  
  /* MEDIA QUERIES */
  @media (max-width: 768px) {
    .message-container h2 {
      font-size: 20px;
    }
  
    .message-container p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .message-container h2 {
      font-size: 18px;
    }
  
    .message-container p {
      font-size: 14px;
    }
  }