<ion-header>
  <ion-toolbar>
    <ion-title>Configuração do Jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center-content">
  <div class="content">
    <h2>Insira o valor da rodada e o número de questões</h2>

    <!-- Caixa de texto para inserir o valor da rodada -->
    <ion-item>
      <ion-label position="floating">Valor da Rodada</ion-label>
      <ion-input type="number" [(ngModel)]="valorRodada" min="1"></ion-input>
    </ion-item>

    <!-- Caixa de texto para inserir o número de questões -->
    <ion-item>
      <ion-label position="floating">Número de Questões</ion-label>
      <ion-input type="number" [(ngModel)]="numeroQuestoes" min="1"></ion-input>
    </ion-item>

    <!-- Botões de ação -->
    <div class="button-group">
      <ion-button expand="block" color="tertiary" class="custom-file-upload">
        <input type="file" accept="audio/*" (change)="onMusicFileSelected($event)" />
        Escolher Música
      </ion-button>
      <ion-button expand="block" color="success" (click)="iniciarJogo()">Começar</ion-button>
      <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
    </div>
  </div>
</ion-content>
